/* HERO */
.hero {
    display: flex;
    flex-direction: column;
}
.hero-photo {
    background-image: url(./hero-photo.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.hero-text {
    background-color: var(--yellow);
    text-align: center;
    padding: 2em 2em;
}

@media only screen and (min-width: 768px) {
    .hero {
        flex-direction: row-reverse;
    }
    .hero-photo {
        width: 50%;
        height: auto;
    }
    .hero-text *,
    .hero-text {
        text-align: left;
    }
    .hero-text button {
        margin-top: 2em;
    }
    .hero-text {
        width: 50%;
    }
}
@media only screen and (min-width: 1024px) {
    .hero-text {
        padding: 10% 3em;
    }
}
@media only screen and (min-width: 1040px) {
    .hero h4 {
        width: 60%;
    }
}

/*INTRO*/
.intro {
    padding: 2em 1em;
}
.intro h2 {
    margin-bottom: 0;
}
.intro h4 {
    margin-top: .75em;
}
.intro p {
    text-align: left;
    line-height: 1.75;
}
.intro p:last-of-type {
    margin-bottom: 2em;
}
.intro .secondary-btn {
    margin: 0 auto;
    display: block;
}

@media only screen and (min-width: 768px) {
    .intro {
        padding-top: 3rem auto;
    }
    .intro p {
        width: 90%;
        margin-left: 5%;
    }
}

/*SERVICES*/

.services {
padding-bottom: 2em;
}
.my-services-list {
    display: flex;
    flex-direction: column;
}
.services h3 {
    margin-top: 1em;
}
.home-organising-img {
    background-image: url(./home-organising.jpg);
    background-size: cover;
    height: 250px;
}
.closet-organising-img {
    background-image: url(./closet-organising.jpg);
    background-size: cover;
    height: 250px;
}
.home-staging-img {
    background-image: url(./home-staging.jpg);
    background-size: cover;
    height: 250px;
}
.services h4 {
    margin:0;
    padding: 2em;
}
.services button {
    margin: 0 auto;
    display: block;
}
@media only screen and (min-width: 768px) {
    .my-services-list {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 4em;
    }
    .home-organising {
        width: 31%;
    }
    .home-organising-img {
        background-position: center;
    }
    .closet-organising {
        width:  31%;
    }
    .closet-organising-img {
        background-position: center;
    }
    .home-staging {
        width: 31%;
    }
    .home-staging-img {
        background-position: center;
    }
    .services h4 {
        background-color: var(--services-green);
    }
}

/* PHOTO GALLERY*/
.clients-homes {
    padding: 2em 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gallery-image {
    flex: 50%;
    max-width: 50%;
    padding: 0.2px;
}
.gallery-image img {
    width: 100%;
}

/* TESTIMONIALS*/
.testimonials-section {
    text-align: center;
    padding: 2em 0;
}
.all-testimonials {
    display: flex;
    flex-direction: column;
}
.testimonial-block {
    background-color: #D2B8C5;
    padding: 1em;
    line-height: 1.5;
}
.testimonial-block span {
    font-family: 'Playfair Display', serif;
}

.testimonial-block p {
    margin-bottom: 1em;
}
@media only screen and (min-width: 768px) {
    .all-testimonials { 
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%; 
    }
    .testimonial-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 32%;
        padding: 5% 1.5em;
        height: 300px;
        align-content: center; 
    }
    .testimonial-block p{
        margin-top: 0;
    }
}
@media only screen and (min-width: 1024px) {
    .testimonial-block {
        height: 250px;
        padding: 4% 1em;
    }
}

/*NEWSLETTER*/
.newsletter {
    padding-bottom: 2em;
}
@media only screen and (min-width: 768px) {
    .newsletter h3 {
        max-width: 40%;
        margin: 1em auto;
    }
}


/* 
1. Make photo gallery with grid (in scratchpad)
2. What screen breaks should I do?
3. On wix an h3 in mobile becomes an h2 in desktop (line 61, HTML). What should I do? 
4. I don't understand the padding percentage in hero (line 38) and testimonial (line 193)

To do
1. Testimonials height on desktop
2. image gallery */